body{
  background-color: #eee;
}

.involvements .pittco {
  background-image: url(../images/2013/logos/pittco.png);
}
.involvements .thinkcomputers {
  background-image: url(../images/2013/logos/thinkcomputers.png);
}
.involvements .steelcityruby {
  background-image: url(../images/2013/logos/scrc.png);
}
.involvements .ibm {
  background-image: url(../images/2018/logos/watson.png);
  background-size: contain;
}
.involvements .vivisimo {
  background-image: url(../images/2013/logos/vivisimo.png);
}
.involvements .metamesh {
  background-image: url(../images/2013/logos/metamesh.png);
}
.involvements .codeandsupply {
  background-image: url(../images/2014/logos/codeandsupply.png);
}
.involvements .devopsdays {
  background-image: url(../images/2014/logos/devopsdays.png);
}
.involvements .imaginecareers {
  background-image: url(../images/2014/logos/imaginecareers.png);
}
.involvements .gxl {
  background-image: url(../images/2014/logos/gxl.png);
}
.involvements .abstractions {
  background-image: url(../images/2016/logos/abstractions.png);
}
.involvements .arcadia {
  background-image: url(../images/2018/logos/arcadia.png);
}
.involvements .uptime {
  background-image: url(../images/2017/logos/uptime.png);
}
.involvements .heartifacts {
  background-image: url(../images/2017/logos/heartifacts.png);
}
.involvements .target {
  background-image: url(../images/2019/logos/target.png);
  background-size: contain;
}
.involvements .homebrew {
  background-image: url(../images/2023/logos/homebrew.svg);
  /*background-size: contain;*/
}
.involvements .comintsol {
  background-image: url(../images/2023/logos/community_internet_solutions.png);
  background-size: contain;
}
